API_URL=http://localhost:8787

# Valid: local, development, production. No need to set up in Cloudflare dashboard. This is added here to override the default value in wrangler.jsonc
ENVIRONMENT=local

# No need to set up in Cloudflare dashboard. This is added here to override the default value in wrangler.jsonc
BASE_URL=http://localhost:5173